html, body {
    height: 100%;
    margin: 0;
}
.input-container {
    height: 53%;
    width: 43%;
    padding-top: 50px;
    background-color: gray;
    border: solid 5px black;
    border-radius: 20px;
    float: left;
    text-align: center;
    margin-left: 10px;
    margin-top: 10px;
}
.input-container > .title {
    font-weight: bold;
    font-size: 55px;
    color: white;
}
.input-container > .inputs > .form {
    padding-top: 70px;
    width: 150px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
}
.input-container > .inputs > .form > .input {
    height: 40px;
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: solid 2px white;
    font-weight: bold;
    font-size: 35px;
    transform: translateX(-35%);
}
.input-container > .inputs > .form > .input::placeholder {
    color: white;
    font-weight: bold;
    font-size: 35px;
}